@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

:root {
  --background: #0f172a;
  --card: #1c2732;
  --foreground: #e2e8f0;
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Mapbox overrides */
.mapboxgl-map {
  width: 100% !important;
  height: 100% !important;
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
}
